.filter__button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  height: 39px;
  border-radius: 60px;
  padding: 6px 20px;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: all 0.2s;
}

.filter__button:not(:last-child) {
  margin-right: 10px;
}

.filter__button.active {
  color: #ad61ff;
  border-color: #ad61ff;
}

.filter__button.hasSelected {
  border-color: #ad61ff;
  color: #ad61ff;
}

/* Стили для баджа (кружочка с числом) */
.filter__badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 25px;
  height: 25px;
  background: #ad61ff;
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  border-radius: 50%;
  transition: all 0.2s;
  position: absolute;
  right: -10px;
  top: -10px;
}

.filter__wrapper {
  max-width: 248px;
  padding: 34px;
  background-color: #313131;
  border-radius: 12px;
  position: absolute;
  top: 49px;
  left: 0px;
  z-index: 10;
}

.filter__list {
  color: white;
  display: flex;
  gap: 28px;
  height: max-content;
  max-height: 237px;
  overflow-y: auto;
  flex-direction: column;
  width: max-content;
  max-width: 248px;
  padding-right: 24px;
  margin: 0;
  list-style: none;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(75, 73, 73, 1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: white;
  }
}

.filter__item {
  cursor: pointer;
  padding: 5px 0;
  transition: color 0.2s;
  white-space: nowrap;
}

.filter__item:hover {
  color: #b672ff;
}

.filter__item_selected {
  color: #b672ff;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 3.5px;
}
